<p id="notice"><%= notice %></p>

<h1>Cursadas</h1> 
<a><%= link_to 'Añadir Curso', new_course_path %></a>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Año</th>
      <th scope="col">Descripción</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.year %></td>
        <td><%= course.description %></td>
        <td><%= link_to 'Ver', course %></td>
        <td><%= link_to 'Editar', edit_course_path(course) %></td>
        <td><%= link_to 'Eliminar', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

