<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @course.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p> <%=link_to "Add Evaluation", new_course_evaluation_path(@course) %>  </p>

    <% @evaluations.each do |evaluation| %>
      <ul><tr>
        <td><%= evaluation.title %></td>
        <td><%= evaluation.date %></td>
        <td><%= evaluation.min_calification %></td>
        <td><%= link_to 'Edit', edit_course_evaluation_path(@course, evaluation) %></td>
        <td><%= link_to 'Destroy', course_evaluation_path(@course, evaluation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </ul></tr>
    <% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
