<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @evaluation.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @evaluation.date %>
</p>

<p>
  <strong>Min calification:</strong>
  <%= @evaluation.min_calification %>
</p>
<%= link_to 'Back', course_evaluations_path(@evaluation.course, @evaluation) %>
